streamlit
google-generativeai
audio-recorder-streamlit
streamlit_toggle
streamlit-vertical-slider
streamlit-lottie
streamlit-float
python-dotenv
langchain
langchain-groq
langchain_community
pypdf
edge-tts
arxiv
wikipedia
duckduckgo-search
langchainhub
validators
docx
SpeechRecognition
youtube-transcript-api
pytube